.container {
    background-color: #e9ecef;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.right {
    position: absolute;
    right: 0;
    padding-right: 1rem;
}

.icon {
    padding-right: 0.4rem;
}

.card {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.card-image-cloth {
    display: inline;
    vertical-align: middle;
}

.card > img {
    min-width: 200px;
    aspect-ratio: 1 / 1;
    /* height: 200px; */
    padding-left: 1rem;
}

.selector {
    width: 100%;
}

.outfit-desc {
    color: #343a40;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}
.submitButton {
    margin-top: 1rem;
}

.categoria {
    display: flex;
    flex-direction: column;
}

.p-left {
    padding-left: 3rem;
}

.category-checkbox {
    overflow: hidden;
    padding-left: 45%;
}

.card-image {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    margin: 0 1rem;
}

.card-image > img {
    background-color: lightgrey;
    text-align: center;
    color: lightgrey;
}

.card-tags {
    display: flex;
    padding: 0.8rem 0;
    flex-wrap: wrap;
    gap: 0.12em;
}

.tag {
    padding: 0 1em;
    font-size: 0.8em;
    border-radius: 0.5rem;
    font-weight: 550;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.tag:first-child {
    margin-left: 0;
}

.lime {
    background-color: #1e9dd8;
    color: white
}

.red {
    background-color: #f75590;
}

.magenta {
    background-color: #6e2594;
}

.brown {
    background-color: #00635d;
    color: white
}

.blue {
    background-color: #8c271e;
}

.grey {
    background-color: #21c063;
}

.table-end {
    text-align: right;
    margin-right: 8rem;
}